
footer{
    width: 100%;
    display: flex;
    margin: 5px;
    height: 90px;
    background-color: #cccaaa;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    color:#4c7091;
  
  }
  
  .foot-1{
  
    margin-left:25px;
  }
  
  .foot-2{
  
    margin-right:25px;
  }
  
  
  .fab{
  
    flex-wrap: wrap;
    margin-top:5px;
    margin-left:15px;
    font-size: 25px;
    padding:5px;
  
  }